/.Rproj.user
/.Rhistory
/.RData
/eventloop.creator.user*
*.swp
src/httpuv.config
src/httpuv.creator
src/httpuv.creator.user
src/httpuv.files
src/httpuv.includes
.Rproj.user

*.log
*.status
*.DS_Store
*.libs
*.deps
*.dirstamp

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
